#main
  .article
    :if entry.version
      %a.sha-version{ href: "/#{entry.version}/#{entry.name}" } Static Version
    %h1
      %a{href: "/" + entry.name}&= entry.title
    = markdownEncode(entry.content)
    %hr{style:"clear:both"}
    #disqus_thread.body
    :script
      var disqus_url = "http://beerd.us/#{entry.name}";
    %script(src="http://disqus.com/forums/beerd/embed.js" type="text/javascript")
    %a.view-thread(href="http://disqus.com/forums/beerd/?url=ref")
      View the discussion thread.
    %a.dsq-brlink(href="http://disqus.com")
      blog comments powered by
      %span.logo-disqus
        Disqus
    :script
      (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
          if(links[i].href.indexOf('#disqus_thread') >= 0) {
            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&amp;';
          }
        }
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/beerd/get_num_replies.js' + query + '"></' + 'script>');
      })();


#sidebar
  .aside.author
    %h4 About the Author
    %img.headshot{src: gravitar(author.email) }
    %dl
      %dt Name:
      %dd&= author.name
    :if author.github
      %dl
        %dt Github:
        %dd= github(author.github)
    :if author.bitbucket
      %dl
        %dt BitBucket:
        %dd= bitbucket(author.bitbucket)
    :if author.twitter
      %dl
        %dt Twitter:
        %dd= twitter(author.twitter)
    :if author.location
      %dl
        %dt Location:
        %dd&= author.location
    :if author.homepage
      %dl
        %dt Links:
        %dd
          %a{href: author.homepage} Homepage

  .aside
    %h4
      About this Article
    %script{src:"http://platform.twitter.com/widgets.js"}
    :if entry.date
      %dl{title: entry.date}
        %dt
          Date Released:
        %dd
          &= formatDate(entry.date, "%A, %B %e, %Y")
    :if entry.lastUpdated
      %dl{title: entry.lastUpdated}
        %dt
          Last Updated:
        %dd
          &= formatDate(entry.lastUpdated, "%A, %B %e, %Y")

    :if entry.node
      %dl
        %dt
          Node Version:
        %dd
          %a{ href: "http://github.com/joyent/node/tree/" + entry.node }
            node #{entry.node}

    :if entry.dependencies
      %dl
        %dt
          Dependency Versions:
        %dd
          %ul
            :each dependency in entry.dependencies
              %li
                %a{ href: "http://github.com/creationix/haml-js/tree/8ea2df3a90ff488ed253d5872e0f4a387f393e5d" }
                  haml-js v0.2.2

    :if entry.uniqueSnippets
      %dl
        %dt
          Code Samples:
        %dd
          %ul
            :each base, snippet in entry.uniqueSnippets
              %li
                %a{ href: snippet.filename}
                  &= base



  :if entry.related && entry.related.length > 0
    .bubble
      %h4
        Other Work by this Author
      %ul
        :each related in entry.related
          %li
            %a{href: "/" + related.name}&=related.title
            :if related.node
              %span.versiontag&= related.node

  .bubble= markdownEncode(description)
