#main.index
  :each entry in entries.slice(0,15)
    .article
      .author
        %img{src:gravitar(entry.author.email, 30)}
        By #{entry.author.name}
        .date{title: entry.date}&= formatDate(entry.date, "%Y.%m.%d")
      %h3
        %a{href: "/" + entry.name}&= entry.title
      = intro(entry.content)
      %a.more{href: "/" + entry.name} Read more...

#sidebar
  .aside
    = markdownEncode(description)
  
  .bubble
    %h4 Links
    %div.link
      %a{target:"_blank",href:"http://nfbl.org/"} Norh Florida Brewer's League
    %div.link
      %a{target:"_blank",href:"http://pintsforpaws.org/"} Pints for Paws
    %div.link
      %a{target:"_blank",href:"http://momospizza.com/the-brewery/"} Momo's Pizza and Brew
    %div.link
      %a{target:"_blank",href:"http://grasslandsbrewery.com/"} Grasslands Brewery


  .bubble
    %h4
      Articles
    %ul
      :each entry in articles.slice(0,20)
        %li
          %a{href: "/" + entry.name}&=entry.title
          &=" by " + entry.author.name
          :if entry.node
            %span.versiontag&= entry.node
  

  .bubble
    %h4
      Recipes
    %ul
      :each entry in recipes.slice(0,20)
        %li
          %a{href: "/" + entry.name}&=entry.title
          &=" by " + entry.author.name
          :if entry.node
            %span.versiontag&= entry.node
  




  .bubble
    %h4 Related Reading
    %a{target:"books",href:"http://www.howtobrew.com/"}
      %img{style:"height:188px;width:150px;border:0;",src:"http://www.howtobrew.com/images/home/htb3cover.jpg"}
